body, html{
    padding: 0;
    margin: 0;
}
header{
    background-color: rgb(229, 255, 0);
    height: 60px;
    grid-area: header;
}
#container{
    width: 1200px;
    margin: 0 auto;
    background-color: aqua;
    display: grid;
    grid-template-areas: 
    'header header header header'
    'content content content menu'
    'footer footer footer footer'
    ;
}

section{
    background-color: rgb(255, 0, 0);
    display: flex;
}

nav{
    background-color: rgb(4, 0, 255);
    grid-area: menu;
}
article{
    height: 240px;
    background-color: gray;
    grid-area: content;
}

footer{
    background-color: aquamarine;
    height: 80px;
    grid-area: footer;
    
}